body {
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

.orange {
  color: #F7931E;
}

.always-orange {
  color: #F7931E;
}

.blue {
  color: #29ABE2 !important;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

/* header section */
header {
  z-index: 2;
  min-width: 960px;
  position: absolute;
  width: 100%;
  height: 83px;
}

header .user-info {
  float: left;
  margin: 18px;
  width: 184px;
  height: 48px;
}

header .user-info img {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  border: solid 1px #999;
  float: left;
}

header .user-info-name {
  width: 126px;
  height: 48px;
  font-size: 16px;
  float: left;
}

header .nav-section {
  margin-left: 220px;
  border-bottom: solid 1px #4d4d4d;
  height: 82px;
}

header .nav {
  margin-top: 39px;
  float: left;
}

header .nav a {
  font-family: Helvetica;
  font-size: 24px;
  border-left: 1px dashed #4d4d4d;
  padding: 5px 20px;
}

header .nav a.selected {
  color: #29ABE2;
  font-weight: bold;
}

header .hosted-nav {
  float: right;
  font-size: 12px;
}

header .hosted-nav a {
  float: right;
  padding: 5px 13px;
  border-left: 1px dashed #4b4b4b;
}

/* styling for the sidebar */
aside {
  z-index: 2;
  position: absolute;
  top: 83px;
  width: 220px;
}

/* iframe styling */
#appFrame {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 83px;
  padding-left: 220px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* sidenav styling */
.sidenav {
  margin-left: 18px;
  width: 184px;
}

.sidenav-header {
  border-bottom: solid 1px #4d4d4d;
  width: 100%
  font-size: 14px;
  letter-spacing: -.5px;
  height: 16px;
}

.sidenav-header-title {
  float: left;
  margin-left: 2px;
}

.sidenav-header-link {
  float: right;
  margin-right: 5px;
}

.sidenav-items {
  padding-top: 5px;
  margin-bottom: 20px;
}

.sidenav-items p {
  margin: 8px 0px 8px 2px;
}

.sidenav-items .installed {
  opacity: .5
}

.sidenav-items .app-details {
  background-color: #f2f2f2;
  margin-left: 10px;
  padding: 4px 7px;
  font-size: 14px;
  display: none;
}

.sidenav-items .app-details a {
  margin-top: 2px;
  display: inline-block;
}

/* styling for the create page */
.viewAll.blue:after {
  content: " \25BC";
  font-size: .75em;
}

.viewAll:not(.blue):after {
  content: " \25B6";
  font-size: .75em;
}

.your-apps.your-apps.app-details {
  margin: 5px 0px 5px 20px;
  display: none;
  font-size: 14px;
  background-color: white;
  padding: 0px;
  cursor: pointer;
}

.published {
  color: #39b74f;
}

.in-review {
  color: #999999;
}

.drafts {
  color: #feaecd;
}

.publish-list li {
  margin-left: 30px;
  margin-top: 20px;
}

.publish-list select {
  margin-left: 8px;
}

.publish-list li p {
  margin: 7px 0px;
}

.publish-list input[type="text"] {
  height: 20px;
  width: 200px;
}

.publish-list input[type="checkbox"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  -ms-appearance: radio;
  -o-appearance: radio;
}

.publish-list select {
  min-width: 200px;
}

.publish-list p.indented {
  margin-left: 50px;
}

.publish-list .preview {
  position: relative;
  width: 450px;
  height: 450px;
  border: solid 1px #999;
  line-height: 450px;
  text-align: center;
  overflow: hidden;
}

.publish-list .preview.jcrop {
  text-align: left;
}

.publish-list .jcrop-holder {
  vertical-align: middle;
  position: absolute !important;
  top: 50%;
  left: 50%;
}

.publish-list .preview p {
  position: absolute;
  bottom: 0px;
  text-align: center;
  color: #000;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  margin: 0px;
  line-height: 20px;
}

.publish-list .preview:not(.jcrop) img {
  max-width: 450px;
  max-height: 450px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.publish-list .app-newname {
  margin-left: 5px;
}

.actions {
  margin-left: 300px;
}

.actions a {
  margin-right: 40px;
  font-size: 14px;
  padding: 0px 2px 1px;
  border-bottom: solid 1px #F7931E;
}

button.publish {
  background-color: #F7931E;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}





/* Global Search ---------------------------------------------------------- */

.search-box-container
{
  display: none;
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
}

.search-box-container:hover
{
  opacity: 0.8;
}

#nav-search
{
  position: relative;
  margin-right: 20px;
}

#nav-search .template
{
  display: none;
}

#nav-search input.search
{
  position: relative;

  width: 206px;
  height: 24px;
  padding-top: 5px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);

  -webkit-appearance: textfield;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 0 rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 0 rgba(255, 255, 255, 1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 0 rgba(255, 255, 255, 1);

  border-radius: 16px;
  font-size: 12px;
  padding: 2px 4px;
  background-color: white;
  z-index: 1000;
}

#nav-search input.search:focus
{
  outline: none;
}

#nav-search input.search.populated
{
/*
  -moz-box-shadow: inset 2px 2px 5px #ccc, 2px 2px 2px 0px #888;
  box-shadow: inset 2px 2px 5px #ccc, 2px 2px 2px 0px #888;
  padding-bottom: 4px;
*/
}

#search-results
{
  display: none;
  position: absolute;
  top: -6px;
  left: -6px;

  width: 254px;
  padding: 6px;
  padding-top: 36px;

  border: 1px solid rgb(175, 175, 175); /*rgba(0, 0, 0, 0.15); */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: rgb(200, 200, 200); /*rgba(0, 0, 0, 0.15);*/

  z-index: 101;
  font-size: 10px;

  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75),
    inset 1px 0 0 rgba(255, 255, 255, 0.5),
    inset -1px 0 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.35),
    0 0 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75),
    inset 1px 0 0 rgba(255, 255, 255, 0.5),
    inset -1px 0 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.35),
    0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75),
    inset 1px 0 0 rgba(255, 255, 255, 0.5),
    inset -1px 0 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.35),
    0 0 6px rgba(0, 0, 0, 0.1);
}

#search-results .message
{
  display: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: rgb(200, 200, 200);
  padding: 14px;
}

#search-results.no-results .message
{
  display: block;
}

#search-results .highlighted
{
  background: rgba(120, 180, 225, .5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#search-results .search-results-wrapper
{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
}

#search-results.no-results .search-results-wrapper
{
  display: none;
}

#search-results .search-header-row
{
  height: 24px;
  cursor: pointer;
  padding: 0px 5px;
  display: none;
  clear: both;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: rgb(125, 125, 125);
}

#search-results .search-header-row .header-title
{
  float: left;
  font-size: 14px;
  line-height: 24px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

#search-results .search-header-row .count
{
  font-size: 12px;
  color: #bbbbbb;
}

#search-results .search-header-row .see-all
{
  float: right;
  font-size: 11px;
  line-height: 24px;
}

#search-results .search-result-row
{
  position: relative;
  margin-top: 1px;
  height: 36px;
  cursor: pointer;
  clear: both;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2px;
}

#search-results .search-result-row .search-result
{
  position: absolute;
  top: 0;
  left: 34px;
  right: 0;
  bottom: 0;

  padding-left: 6px;
  padding-right: 6px;

  height: 36px;
  line-height: 36px;

  font-size: 12px;
  color: #333;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-results .search-result-row .icon-box
{
  position: absolute;
  left: 2px;
  top: 2px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#search-results .search-result-row .icon-box img
{
  position: absolute;
  height: 32px;
  width: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#search-results .search-result-row .icon-box img.favicon
{
  position: absolute;
  height: 16px;
  width: 16px;
  margin-top: 8px;
  margin-left: 8px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

